.profile {
  .profile_page {
    display: flex;
    justify-content: center;
    align-items: center;
    .hero_text {
      h1 {
        font-size: 70px;
        font-weight: 700;
        width: 500px;
        line-height: 70px;
      }
      p {
        color: gray;
        width: 500px;
        padding: 20px 0;
      }
    }
    .hero_img {
      background-image: url("/images/heroimg.png");
      width: 450px;
      height: 600px;
      background-repeat: no-repeat;
      object-fit: contain;
      background-position: top;
    }
    .update-button {
      margin-top: 20px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #4caf50;
      color: white;
      cursor: pointer;
    }
  }
  .container {
    padding-bottom: 100px;
    .goalsec {
      .goal_section {
        background-color: #000000e9;
        padding: 50px;
        border-radius: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 18px;
        .goal-input {
          width: 100px;
          padding: 5px;
          border-radius: 4px;
          outline: none;
          background-color: inherit;
          all: none;
          color: white;
          font-size: 40px;
        }
        .goal-input:focus {
          outline: none;
        }
        .goal {
          h1 {
            color: #fff;
            font-weight: 600;
            font-size: 40px;
          }
          p {
            color: gray;
          }
        }
      }
    }
    .plansec {
      .plan_section {
        padding-bottom: 150px;
        .text_side {
          display: flex;
          justify-content: space-between;
          padding: 100px 0;
          h1 {
            font-size: 53px;
            font-weight: 700;
            width: 530px;
            line-height: 60px;
            margin-top: -5px;
          }
          p {
            width: 50%;
            color: gray;
          }
        }

        .offer_cards,
        .add_card {
          display: flex;
          // justify-content: space-between;
          flex-wrap: wrap;
          gap: 50px;
          margin: 20px 0;
          .card {
            background-color: #f0f0f0;
            border-radius: 20px;
            overflow: hidden;
            min-width: 360px;
            .count {
              margin: 25px;
              width: 60px;
              height: 60px;
              display: flex;
              border-radius: 50%;
              justify-content: center;
              align-items: center;
              background-color: #8efb4a;
              h1 {
                font-size: 35px;
                font-weight: 700;
              }
            }
            .details {
              text-align: end;
              padding: 25px;
              
              ul {
              margin-top: -20px;
                li{
                  display: flex;
                  gap: 20px;
                  align-items: center;
                }
                h1 {
                  font-size: 34px;
                  font-weight: 700;
                  padding: 15px 0;
                }
                span {
                  color: gray;
                  font-size: 25px;
                }
              }

              display: flex;
              flex-direction: column;
              gap: 10px;
              align-items: start;
              label {
                font-size: 20px;
                font-weight: 600;
              }
              input {
                background-color: inherit;
                max-width: 150px;
                margin-left: 15px;
              }
              input:focus {
                outline: none;
              }
            }
            .card_footer {
              background-color: #000000e9;
              position: relative;
              padding: 25px;
              h1 {
                font-size: 30px;
                font-weight: 600;
                color: #fff;
              }
              p {
                color: gray;
              }
              button {
                position: absolute;
                margin-top: 15px;
                right: 25px;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #8efb4a;
              }
            }
          }
          // .card:hover{
          //   cursor: pointer;
          //   transition-duration: 1s;
          //  scale: 1.1;
          // }
        }
      }
    }
  }
}
