.herosec {
  .hero_section {
    display: flex;
    // justify-content: center;
    align-items: center;
    .hero_text {
      width: 50%;
      h1 {
        font-size: 70px;
        font-weight: 700;
        width: 500px;
        line-height: 70px;
      }
      p {
        color: gray;
        width: 500px;
        padding: 20px 0;
      }
      .join_us {
        display: flex;
        align-items: center;
        button {
          background-color: #000000e9;
          color: #898989;
          padding: 15px 37px;
          border-radius: 25px;
        }
        .arrow {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #8efb4a;
          // padding: 5px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-left: -15px;
        }
      }
    }
    .hero_img {
      background-image: url("/images/heroimg.png");
      width: 450px;
      height: 550px;
      // background-repeat: no-repeat;
      object-fit: cover;
      background-position: top;
      
    }
  }
}
